.*.swp
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/AboutDialog.ui
data/Makefile
data/Makefile.in
data/gschemas.compiled
data/olc.desktop
data/olc.gresource
install-sh
libtool
ltmain.sh
m4
missing
olc
po/*.mo
po/*.gmo
po/.intltool-merge-cache
po/.intltool-merge-cache.lock
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
py-compile
src/Makefile
src/Makefile.in
stamp-h1
*.valid
/builddir
/.flatpak-builder
/flatpak
/repo
*.flatpak
