@define-color myred #880000;

@binding-set unbind-keys {
  unbind "Return";
  unbind "Right";
  unbind "Left";
  unbind "Up";
  unbind "Down";
  unbind "Tab";
  unbind "ISO_Left_Tab";
  unbind "space";
}

flowboxchild:selected {
  outline-width: 0px;
  background-color: alpha(@theme_bg_color, 0);
}

window {
  -gtk-key-bindings: unbind-keys;
}

#command_line {
  padding: 2px 2px 2px 2px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #795004;
}

#midi_toggle:checked {
  background-image: none;
  background-color: @myred;
}

#flowbox_outputs {
  padding: 0px;
}

#fader_box {
  border-width: 2px;
  border-style: solid;
  border-color: #795004;
}

#fader_box_empty {
  border-width: 2px;
  border-style: solid;
  border-color: #666666;
}
